* {
  font-family: Poppins;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#search-bar {
  justify-items: center;
  padding: 50px;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 1.25rem;
  width: 20rem;
  padding: 10px;
  border: 1px solid #9a9a9a;
  border-radius: 10px;
}

.search-wrapper > input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
}

.search-wrapper > input:focus {
  outline: none;
}

.search-wrapper > button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.search-wrapper > button > img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

#container {
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  gap: 14px;
  padding: 20px;
  width: max-content;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.item > div {
  max-width: 9.375rem;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item > img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

@media (max-width) {
  html {
    font-size: 14 px;
  }
}
